.center {
    margin: auto;
    width: 30%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hideform {
    display: none;
    background-color: rgb(30, 30, 30);
}
.text{
    color: white;
}
.x{
    color: red;
}
.yes-button {
    color: green;
}