body{
    background-color: rgb(22, 22, 22);
    overflow-x: hidden;
}
/* .mobile-navigation {
    display: none;
} */


/* hamburger code begins */

.toggler{
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
      z-index:100;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0;
      /* margin-bottom: -100rem; */
  }
  
  .hamburger{
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      padding: 0.6rem;
    
    /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
    
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  /* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
  
  .hamburger > div{
      position: relative;
      top: 0;
      left: 0;
      background-color:  rgb(10, 10, 248);
      height: 2px;
      width: 60%;
      transition: all  0.4s ease;
  }
  
  /* CREATING THE TOP AND BOTTOM LINES : 
  TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */
  
  .hamburger > div::before,
  .hamburger > div::after{
      content: '';
      position: absolute;
      top: -10px;
      background-color:  rgb(10, 10, 248);
      width: 100%;
      height: 2px;
      transition: all  0.4s ease;
  }
  
  .hamburger > div::after{
      top: 10px;
  }
  
  /* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */
  
  .toggler:checked + .hamburger > div{
      background: rgba(0,0,0,0);
  }
  
  .toggler:checked + .hamburger > div::before{
      top: 0;
      transform: rotate(45deg);
      background-color:  rgb(10, 10, 248);
  }
  
  /* AND ROTATING THE TOP AND BOTTOM LINES :  */
  
  .toggler:checked + .hamburger > div::after{
      top: 0;
      transform: rotate(135deg);
      background-color:  rgb(10, 10, 248);
  }
  
  
  /* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */
  
  .menu{
      width: 0%;
      height: 10vh;
    
    /* APPLYING TRANSITION TO THE MENU :  */
    
      transition: all 0.4s ease;
  }
  
  .menu-items{
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: rgb(53, 52, 52);
      padding: 5px;
  }
  
  /* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */
  
  .toggler:checked ~ .menu{
      width: 35%;
  }
  
  
  /* STYLING THE LIST :  */
  
  .menu >  div > ul{
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 70px;
      padding-left: 10px;
    
    /* HIDDEN INITIALLY  :  */
    
      visibility: hidden;
  }
  
  .menu > div > ul > li{
      list-style: none;
      padding: 0.5rem;
  }
  
  .menu > div > ul > li > a{
      color: black;
      text-decoration: none;
      font-size: 2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* WHEN THE TOGGLER IS CHECKED, CHANGE THE VISIBILITY TO VISIBLE :  */
  
  .toggler:checked ~ .menu > div > ul{
      transition: visibility 0.4s ease;
      transition-delay: 0.1s;
      visibility: visible;
  }
  
  .toggler:checked ~ .menu > div > ul > li > a:hover{
      color: orange;
  }



/* hamburger code ends */


.add-icon-mobile{
    width:50px ;
    padding-left: -10px;
}
.logout-icon-mobile{
    width: 30px;
    padding-left: 0.8rem;

}

/* 
.menu-button in phone
*/
@media(max-width:601px){
    
    .hamburger{
        visibility: visible;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
.empty-search {
    color: white;
    display: flex;
    /* grid-template-columns: 2fr 1fr 1fr; */
    justify-content: center;
}
.empty-search p{
    color: gray;
    margin-left: 50px;
}
.image{
    width: 300px;
    -webkit-animation: action 1s infinite  alternate;
    animation: action 1s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.navbar{
    display: flex;
}
.logo-user{
    display: flex;
    color: aliceblue;
}
.logo-user-container{
    display: block;  
}
/* @media(max-width:950px){
    .logo-user-container{
        display: grid;
        grid-templateo-rows: 1fr 1fr;
    }
} */
.logout-button a{
    color: rgb(250, 247, 247);
    text-decoration: none;
    margin-bottom:10px ;
}
.logout-button{
    background-color: rgb(46, 45, 45);
    border-color: blue;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
}
.name{
    margin: 0;
    padding:0;
    padding-left: 20px;
    padding-right: 20px;
}
.search-button{
    width: fit-content;
    background-color: rgb(22, 22, 22);
    border: none;
    margin: 0;
}
.search-icon{
    margin-bottom: -10px;
    width: 30px;
    background-color: rgb(46, 45, 45);
    margin-left: -80px;
}
.navwrapper {
    display: flex;
    align-items: top ;
    justify-content: center;
    /* flex-direction: row; */
}
.nav-container{
    display:flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 2rem;
    margin-bottom: 40px;
    align-items: center;
}

/* pc small */
@media(min-width:771px){
    .nav-container {
        gap: 2rem;
    }
   .info {
    width: 250px;
   }
}

/* pc medium */
@media(min-width:1000px){
    .nav-container {
        gap: 5rem;
    }
}

/* pc large */
@media(min-width:1300px){
    .info{
        /* width: 378px; */
        width: 100%;
        margin: 0; 
    }
    .title{
        font-size: 65px;
    }
}

/* tablet */
@media(max-width:768px){
    .nav-container{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: -3rem;
    }
}
.search-bar{
    border: none;
    border-radius: 10px;
    background-color: rgb(46, 45, 45);
    color: rgb(174, 173, 173);
    width: 480px;
    padding: 10px;
    box-shadow: 10px 1px 10px 10px rgb(17, 18, 17);
    /* display: flex;
    justify-content: center; */
    transition: box-shadow 2s;
    outline: none;
}

.search-bar::placeholder{
    color: rgb(95, 94, 94);
}
.search-bar:focus{
    box-shadow:10px 1px 10px 10px rgb(18, 108, 244) ;
}
.notes-container{
    display: flex;
    justify-content: center ;
}
.notes{
    display: grid;
    grid-template-columns: 30fr 30fr 30fr;
    align-items: center;
    width: max-content;
    gap: 0.7rem;
    /* margin-left: 100px; */
}

.info{
    background-color: rgb(46, 45, 45);
    border-radius: 5px;
    border: none;
    padding: 20px;
    /* padding-right: -20px; */
    margin: 4px;
    height: 100px;
    width: 350px;
    text-decoration: none;
    /* margin-left: 48px; */
    align-items: center;
    display: flex;
    flex-direction: column;
    
}


/* tablet */
@media(min-width:601px) and (max-width:768px){
    .info {
        padding: 30px;
    }
    .notes-container {
        padding: 0;
        display: flex;
        justify-content: center;
        /* width:  min-content; */
    }
    .notes{
        padding: 0;
        grid-template-columns: 1fr 1fr;
        /* margin-left: 100px; */
        /* width: min-content; */
    }
    .search-bar{
        width: 350px;
    }
}

/* phone */
@media(max-width:601px){
    .notes{
        grid-template-columns: 1fr ;
        width: 100px;
        padding: 0;
        /* margin-left: -380px;
        margin-right: 50px; */
        margin: 0;
        justify-content: center;
    }
    .info{
        /* padding-left: -100px;
        padding-right: -100px; */
        padding: 10px;
    }
    .search-bar{
        width: 350px;
        margin-right:1rem;
        margin-top: -5000000rem;
    }
    .logout-button{
        display: none;
    }
    .mobile-navigation .container{
        margin: 0;
        margin-left: 5rem;
      }
    }

/* phone small */
@media(max-width:500px){
    .search-bar{
        min-width: 100px;
        max-width: 350px;
        margin-left: 1rem;
       /* margin-right: -35px; */
    }
    .info{
        margin: 0;
        width: 300px;
        margin-left: 120px;
        margin-right: 120px;
        padding: 15px;
    }
    .hamburger{
        visibility: visible;
    }
}

/* really small phone */
@media(max-width:380px){
    .search-bar{
        width: 300px;
    }
    .mobile-navigation .container{
        margin-left: -0.5rem;
    }
}

/* tablet */
@media(min-width:602px){
    .info{
        width: 200px;
        margin: 0;
    }
}

/* phone big */
 @media(min-width:497px) and (max-width:505px) {
    .info{
        width: 350px;
        margin: 0;
        margin-left: 55px;
        padding: 25px;
        
        /* margin-left: 60px; */
    }  
    .nav-container{
        margin-right: -70px;
    }
    .mobile-navigation .container {
        margin-left: 4rem;
    }
    .notes-container {
        justify-content: center;
    }
   
} 


/* phone small*/
@media(max-width:497){
    .info{
        width: 9px;
    }  
    .nav-container{
        margin-right: -70px;
    }
    .mobile-navigation .container {
        margin-right: 10rem;
    }   
    .notes{
        padding-left: -100px;
    } 
    .search-bar{
        margin-left: 100px;
    }
}


/* @media(max-width:601px){
    .info{
        width: 500px;
        margin: 0;
        margin-left: 10px;
        margin-right: -20px;
    }  
} */

.title{
    font-size: 60px;
    color: rgb(40, 8, 251);
    margin: 0;
    text-decoration: none !important;
    
}
@media(max-width:2000){
    .title{
        font-size: 40px;
    }
    
}
.last-created{
    color: rgb(146, 143, 143);
    font-size: small;
    margin: 0;
    margin-top: 5px;
}
/* pc small */
@media(min-width:771px){
    .info{
        width: 208px;
        /* width: 100vh; */
        margin: 0; 
        /* overflow: hidden; */
    }
    .title{
        font-size: 35px;
    }
   
}

/* pc medium */
/* @media(min-width:1000px){
    .info{
        width: 278px;
        margin: 0; 
    }
    .title{
        font-size: 55px;
    }
   
} */

/* pc large */
/* @media(min-width:1300px){
    .info{
        width: 378px;
        margin: 0; 
    }
    .title{
        font-size: 65px;
    }

} */

/* tablet */
@media(max-width:768px){
    .title {
        font-size: 35px;
    }
}
.footer{
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.add-button{
    color: rgb(10, 10, 248);
    background-color: rgb(46, 45, 45);
    padding: 0;
    padding: 10px;
    padding: 15px 25px 15px;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    transition: font-size 2s;
    
}
.add-button:hover{
    font-size: 40px;
}
.add-button:active{
    background-color: rgb(80, 79, 79);
}





/* beginning of the mobile hamburger */


/* *{
    margin: 0;
    padding: 0;
} */

/* body{
    background: #333;
    width: 100vw;
} */

