{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/css/index.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="wrap">
        <div class="cube">
            <img src="{% static 'icons/note-icon.jpg' %}" alt="">
        </div>
    </div>
    <div class="layer2">
        <div class="text">
           <p>
            Simple Note is a simple software developed by 
            Nathan Muyoba
           </p> 
            <p>
                Its designed to help you store any thing in form of text which
                consider essential
            </p>
            <p>
                To use please
                
            </p>
            <p>
                <a href="{% url 'login' %}" >
                    <button class="signin" id="show">
                        sign in
                    </button>
                   
                </a> 
                or 
                <a href="{% url 'register' %}">
                    <button class="signup">
                        sign up
                    </button>
                    
                </a>
            </p>
        </div>
    </div>

 
</body>
</html>