{% extends 'navbar.html' %}

{% block content %}

<!DOCTYPE html>
<html style="height:100%;" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .container{
        align-items: center;
    }
</style>

<body class="center">
    <div class="white">
        <P>Welcome to the ToDo list web application</P>
        <p>Its a simple application where you can add,modify delete tasks you intend to do or notes you intend to save online</p>
        <p>to use just signup or login</p>
        <p>Tip:</p>
        <p>click on the activity in the home page to edit,delete or view it</p>
    </div>


</body>
</html>

{% endblock content %}

