{% extends 'navbar.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="center">
        <form class="" action="" method="get">
            <div class="search">
                <input  class="center-font" type="text" name="q" placeholder="input search "/>
                <p>
                    <button class="button" type="submit">search</button>
                </p>
            </div>

            {% for topic in topics %}
            
            {% if request.user == topic.host %}
                <div class="pad-down">
                    <h3>
                    
                        <a class="white" href="{% url 'viewActivity' topic.id %}">{{topic}}</a>
                    </h3>
                    <p class="grey">added {{topic.created|timesince}} ago</p>
                </div>
                
            {% endif %}
            
            {% endfor %}
        
        </form>
    </div>

    <div>

    </div>
</body>
</html>

{% endblock content %}